:root {
    --gray-100: #f1f1f1;
    --gray-200: #cfcfcf;
    --gray-300: #afafaf;
    --gray-400: #8f8f8f;
    --gray-500: #808080;
    --gray-600: #727272;
    --gray-700: #565656;
    --gray-800: #3c3c3c;
    --gray-900: #242424;
}

* {
    box-sizing: border-box;
}

html, body {
    color: black;
    font-family: 'ubuntu';
    font-size: 16px;
    margin: 0;
    min-width: 320px;
    padding: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

.container {
    max-width: 1536px;
    padding: 0 20px;
    margin: 0 auto;
    width: auto;
    height: 100%;
    display: block;
}


.header {
    width: 100%;
    border-bottom: 2px solid var(--gray-900);
}

.header-content {
    min-height: 80px;
    text-align: center;
}

.header-logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.header-link {
    font-size: 1rem;
    text-decoration: none;
    margin-right: 10px;   
    color: black;
    font-weight: 500;
}

.header-link:last-child {
    margin-right: 0;
}

.header-link:hover {
    color: var(--gray-500);
}

.box {
    border: 2px solid var(--gray-900);
    margin: 40px;
    position: relative;
    padding: 20px 0;
}

.box::before {
    background-color: var(--gray-200);
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.box-container {
    padding: 20px 0;
}

.box-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    text-transform: uppercase;
}

.box-title_no-margin {
    margin-bottom: 0;
}

.box-subtitle {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.box-img {
    width: 100%;
    height: auto;
    margin: 0 auto 15px;
    max-width: 1000px;
    display: block;
}

.box-text {
    font-size: 1rem;
    margin-bottom: 15px;
}

.box-text:last-child {
    margin-bottom: 0;
}

.box-photo {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.box-social {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box-social-link {
    font-size: 30px;
    color: black;
    transition: color 1s ease-in-out;
}
.box-social-link:hover {
    color: var(--gray-500);
}

.footer {
    background-color: black;
    width: 100%;
    padding: 10px 0;
    height: 40px;
}

.footer-text {
    color: white;
    font-weight: 0.9rem;
    text-align: center;
}

@media (min-width: 640px) {

    .center-page {
        display: flex;
        justify-content: center;
        min-height: calc(100vh - (82px + 40px));
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .header-logo {
        margin-bottom: 0;
    }

    .box {
        align-self: center;
    }

    .box-content-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        align-items: center;
    }
    
    .box-title {
        font-size: 50px;
    }
    
    .box-subtitle {
        font-size: 25px;
    }

    .box-photo {
        margin-bottom: 0;
    }
}